
main{
    margin: 20px 0;
}

.container1{
    margin-bottom: 3rem;
}














/* ! DEBUG */

header, 
footer{

    height: 150px;
    background-color: blue;
}

[class*="col"]{
    min-height: 50px;
    background-color: purple;
    border: solid 2px wheat;
}

.nested{
    display: flex;
    padding: 0.3rem;
}
.acqua{
    background-color: aqua;
    min-height: 80%;
}